{% extends "base_student.html" %}
{% block title %}Student Dashboard{% endblock %}

{% block content %}
    <h1 class="welcome-header">Welcome, {{ user.firstname }}!</h1>
    
    <div class="game-grid">
        <a href="{{ url_for('game', game_id=1) }}" class="game-btn">
            <i>🎮</i>
            Untimed Test
        </a>
        <a href="{{ url_for('game', game_id=2) }}" class="game-btn">
            <i>🕹️</i>
            Timed Test
        </a>
        <a href="{{ url_for('game', game_id=3) }}" class="game-btn">
            <i>👾</i>
            Matching Game
        </a>
    </div>
{% endblock %}